* {
  margin: 0px 0px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #0e0e0e;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Book.otf");
}

@font-face {
  font-family: "PP Neue Montreal Bold";
  src: url("/fonts/PPNeueMontreal-Medium.otf");
}

@font-face {
  font-family: "Denim TRIAL";
  src: url("/fonts/DenimTRIALVF.ttf");
}

.color-black {
  background-color: black;
}

:root {
  --myblue: rgb(49, 20, 229);
  --Almost-black: #141414;
  --myred: #472425;
  --blue2: ;
}

html {
  font-size: 16px;
}

@media (min-width: 1200px) {
  body {
    background-color: #f8f9f9;
    margin: 0px 64px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    max-width: 2560px;
  }

  .nav-container {
    position: relative;
    top: 0;
    z-index: 1;
  }

  .right-links a {
    font-family: "Denim TRIAL";
    font-size: 1.3rem;
    font-weight: 500;
  }
  .right-links img {
    display: block;
    width: 15px;
    height: auto;
  }

  .company-name img {
    display: block;
    width: 180px;
    height: auto;
  }

  .right-links {
    position: relative;
    display: flex;
    gap: 5px;
  }
  .stagger-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .stagger-link-text {
    text-shadow: 0px 1.2em 0px var(--Almost-black);
    line-height: 1;
  }

  .footer-sec {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--myred);
    margin-top: 7vw;
    padding-top: 20px;
    position: relative;
    margin-bottom: 25px;
  }

  .logo-cr {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .logo-cr img {
    width: 35vw;
    height: auto;
  }

  .logo-cr h5 {
    color: var(--Almost-black);
    font-family: "Denim TRIAL";
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 400;
  }

  .socials-webnav {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .social-links {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .social-columns {
    display: flex;
    gap: 40px;
  }

  .socials-webnav a:hover,
  .social-links a:hover {
    text-decoration: underline var(--Almost-black);
  }

  .socials-webnav h4,
  .social-links h4 {
    padding-bottom: 5px;
    color: var(--Almost-black);
    font-family: "Denim TRIAL";
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
  }

  .social-columns a {
    color: var(--Almost-black);
    font-family: "Denim TRIAL";
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 400;
  }

  .scroll-to-top {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .scroll-to-top img {
    width: 2vw;
    height: auto;
    display: block;
  }

  .scroll-to-top a {
    line-height: 0;
    font-size: 0;
  }

  #footerLogo {
    display: none;
  }
}

@media (max-width: 1199px) {
  .firmanavn-hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  body {
    background-color: #f8f9f9;
    padding: 0px 15px;
  }

  .nav-container {
    position: relative;
    top: 0;
    z-index: 1;
    opacity: 1;
  }

  .hamburger {
    width: 40px;
    height: auto;
    cursor: pointer;
  }

  #nav-icon1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #000000;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 12px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 24px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .navbar {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .right-links {
    position: fixed;
    z-index: -1;
    top: 0;
    left: -15px;
    width: calc(100% + 30px);
    height: 100vh;
    background: #f8f9f9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    transform: translateX(-100%);
  }

  .right-links a {
    font-family: "Denim TRIAL";
    font-size: 2rem;
    font-weight: 500;
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .right-links.active {
    transform: translateX(0);
  }

  .company-name img {
    display: block;
    width: 160px;
    height: auto;
  }

  .footer-sec {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 50px;
    border-top: 1px solid var(--myred);
    margin-top: 7vw;
    padding-top: 20px;
    margin-bottom: 15px;
    position: relative;
  }

  .logo-cr {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .logo-cr img {
    width: 50vw;
    height: auto;
  }

  .logo-cr h5 {
    color: var(--Almost-black);
    font-family: "Denim TRIAL";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }

  .socials-webnav {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .social-links {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .social-columns {
    display: flex;
    justify-content: space-between;
  }

  .socials-webnav a:hover,
  .social-links a:hover {
    text-decoration: underline var(--Almost-black);
  }

  .socials-webnav h4,
  .social-links h4 {
    padding-bottom: 5px;
    color: var(--Almost-black);
    font-family: "Denim TRIAL";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
  }

  .social-columns a {
    color: var(--Almost-black);
    font-family: "Denim TRIAL";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }

  .scroll-to-top {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .scroll-to-top img {
    width: 2rem;
    display: block;
  }

  #footerLogo {
    width: 20vw;
    height: auto;
  }
}
